<%- include('./partials/header') %>

<div class="main w-full px-12 mt-20">
  <h1 class="font-medium text-xl">You're editing hissab of <span class="text-[#5db1ff] font-bold"><%= filename %></span> date</h1>
  <form action="/edit/<%= filename %>" method="post" class="flex flex-col">
    <textarea
      name="description"
      placeholder="Daal, Aata, Chinni"
      class="bg-zinc-100 p-1.5 px-3 w-1/3 rounded-md outline-none resize-none h-[37vh] mt-4"
    ><%= content %></textarea>
    <input
    type="submit"
    value="Update Hisaab"
    class="bg-blue-500 tracking-tight p-1.5 font-medium px-3 rounded-md mt-4 cursor-pointer text-white w-fit"
  />
  </form>
</div>

<%- include('./partials/footer') %>
